<h1>Create new game</h1>

<%= form_with model: @game do |form| %>
  <div>
    <%= form.label :game_name %><br>
    <%= form.text_field :game_name%>
    <% @game.errors.full_messages_for(:game_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <br>

  <div>
    <%= form.label :p1 %><br>
    <%= form.number_field :p1, in: 1..20, step: 1%>
    <% @game.errors.full_messages_for(:p1).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :p2 %><br>
    <%= form.number_field :p2, in: 1..20, step: 1%>
    <% @game.errors.full_messages_for(:p2).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :p3 %><br>
    <%= form.number_field :p3, in: 1..20, step: 1%>
    <% @game.errors.full_messages_for(:p3).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :p4 %><br>
    <%= form.number_field :p4, in: 1..Player.last.id, step: 1%>
    <% @game.errors.full_messages_for(:p4).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<% @players.each do |player| %>
  <p><%=player.id%> - <%=player.player_name%></p>
<% end %>
  