<%= link_to "<- back", root_path %>

<h1>Create new game</h1>

<%= form_with model: @game do |form| %>
  <div>
    <%= form.label :game_name %><br>
    <%= form.text_field :game_name %>
    <% @game.errors.full_messages_for(:game_name).each do |message| %>
      <div><%= message %></div>
      <br>
    <% end %>
  </div>

  <br>

  <div>
    <%= form.label :p1 %>
    <%= form.select :p1, Player.order(:player_name).map { |player| [player.player_name, player.id] } %>
    <% @game.errors.full_messages_for(:p1).each do |message| %>
      <div><%= message %></div>
      <br>
    <% end %>
  </div>

  <div>
    <%= form.label :p2 %>
    <%= form.select :p2, Player.order(:player_name).map { |player| [player.player_name, player.id] } %>
    <% @game.errors.full_messages_for(:p2).each do |message| %>
      <div><%= message %></div>
      <br>
    <% end %>
  </div>

  <div>
    <%= form.label :p3 %>
    <%= form.select :p3, Player.order(:player_name).map { |player| [player.player_name, player.id] } %>
    <% @game.errors.full_messages_for(:p3).each do |message| %>
      <div><%= message %></div>
      <br>
    <% end %>
  </div>

  <div>
    <%= form.label :p4 %>
    <%= form.select :p4, Player.order(:player_name).map { |player| [player.player_name, player.id] } %>
    <% @game.errors.full_messages_for(:p4).each do |message| %>
      <div><%= message %></div>
      <br>
    <% end %>
  </div>

  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
