<h1>
  <%= @game.game_name %>
</h1>

<table> <%# SCORES %>
  <tr>
    <th><%= Player.find(@game.p1).player_name %></th>
    <th><%= Player.find(@game.p2).player_name %></th>
    <th><%= Player.find(@game.p3).player_name %></th>
    <th><%= Player.find(@game.p4).player_name %></th>
  </tr>
  <% 28.times do %>
    <tr>
      <% 4.times do %>
        <td><input type="number" min=-224 max=224 value=0></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <% 4.times do %>
      <td>total: x</td>
    <% end %>
  </tr>
</table>

<br>

<table> <%# GAMES %>
  <tr>
    <th>Game</th>
    <th>Name 1</th>
    <th>Name 2</th>
    <th>Name 3</th>
    <th>Name 4</th>
  </tr>
  <% games = ["min", "max", "src", "dam", "krl", "lor", "pro"] %>
  <% games.each do |game| %>
    <tr>
      <td><%= game %></td>
      <% 4.times do %>
        <td><button></button></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br>

<button>SAVE</button>