<%= link_to "<- home", root_path %>

<h1>
  <%= @game.game_name %>
</h1>

<table> <%# SCORES %>
  <tr>
    <th><%= Player.find(@game.p1).player_name %></th>
    <th><%= Player.find(@game.p2).player_name %></th>
    <th><%= Player.find(@game.p3).player_name %></th>
    <th><%= Player.find(@game.p4).player_name %></th>
  </tr>

  <% for i in 1..28 %>
    <%= form_with model: Score.where(game_id: @game.id, score_position: i).first do |form| %>
      <tr>
        <td><%= form.number_field :value_p1, in: -8..32, step: 1 %></td>
        <td><%= form.number_field :value_p2, in: -8..32, step: 1 %></td>
        <td><%= form.number_field :value_p3, in: -8..32, step: 1 %></td>
        <td><%= form.number_field :value_p4, in: -8..32, step: 1 %></td>
        <td><%= form.submit %></td>
      </tr>
    <% end %>
  <% end %>

  <tr>
    <td>total: <%= @scores.sum(:value_p1) %></td>
    <td>total: <%= @scores.sum(:value_p2) %></td>
    <td>total: <%= @scores.sum(:value_p3) %></td>
    <td>total: <%= @scores.sum(:value_p4) %></td>
  </tr>
</table>

<br>

<table> <%# GAMES %>
  <tr>
    <th>Game</th>
    <th>Name 1</th>
    <th>Name 2</th>
    <th>Name 3</th>
    <th>Name 4</th>
  </tr>
  <% games = ["min", "max", "src", "dam", "krl", "lor", "pro"] %>
  <% games.each do |game| %>
    <tr>
      <td><%= game %></td>
      <% 4.times do %>
        <td><button></button></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br>

<button>SAVE</button>

<ul>
  <li><%= link_to "Edit", edit_game_path(@game) %></li>
</ul>
