<%= link_to "<- back", admins_path %>

<h1>Create player:</h1>

<%= form_with model: @player do |form| %>

  <div>
    <%= form.label :player_name %><br>
    <%= form.text_field :player_name %>
    <% @player.errors.full_messages_for(:player_name).each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>